
.background-div {
    background-image: url("{{ url_for('static', filename='imagenes/imagen1_v2.png') }}");
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;  /* Cambiado a "center" */
    background-repeat: no-repeat;
}
 