<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BELLA VISTA </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
    <link rel="stylesheet" href="/static/disenos.css">
    
</head>
<body>
    <section id="header">
        <a href="#"><img src="/bellavista-app/imagenes/BELLA_VISTA2.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="dashboard.html"> Inicio <i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="gas.html">Gas</a></li>
                <li><a href="clap.html">CLAP</a></li>
                <li><a href="otros.html">Otros Pagos </a></li>
                <li><a href="contacto.html">contacto <i class="fa fa-phone" aria-hidden="true"></i></a></li>
                <li><a href="login.html" onclick="cerrarSesion(event)">salir <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="hero">
        <h1> Pagina de control de pagos </h1>
        <h2> Barrio Bella Vista </h2>
        <h2> registra tus pagos facil y rapido </h2>
        <p></p>
        <h3> "la union de la sociedad es el futuro del mundo" </h3>
        
    </section>
    
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <a href="gas.html">
                <img src="/bellavista-app/imagenes/features/imagen4.jpg" alt="">
                <h6> Pago de gas</h6>
            </a>
        </div>
        <div class="fe-box">
            <a href="clap.html">
                <img src="/bellavista-app/imagenes/features/imagen1.jpg" alt="">
                <h6> Pago de CLAP</h6>
            </a>
        </div>
        <div class="fe-box">
            <a href="otros.html">
                <img src="/bellavista-app/imagenes/features/imagen5.png" alt="">
                <h6> Otros pagos </h6>
            </a>
        </div>
        
    </section>

    <script src="script.js"></script> <!-- Enlace al archivo JavaScript -->
</body>
</html>